
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.929);
    
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: top;
    margin-top: 4%;
    margin-left: 45%;
    justify-content: center;
    color: rgba(39, 241, 204, 0.702);
}

h3 {
    color: rgb(19, 23, 24);
    font-size: 50px;
}

/* Card Styling */
.card {
   
    width: 100%;
    justify-content: center;

    max-width: 470px;
    /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/019/567/632/original/cloudy-sky-animation-animated-clouds-timelapse-in-blue-sky-background-natural-clouds-landscape-illustration-clouds-background-free-video.jpg); */

    background-color: rgba(213, 19, 19, 0.1);
    border-radius: 20px;
    margin: 5% auto ;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    backdrop-filter: blur(10px); 
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.6); 
} 


 @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    
    background-image: conic-gradient(from var(--angle), #20d3b8,#e21f46);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0px;
    border-radius: 20px;
    animation: 5s spin linear infinite;
}

.card::before {
    filter: blur(1.6rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}



.search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search input {
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 4, 0.7);
    width: 75%;
    font-size: 18px;
    outline: none;
    color: #090000;
}

.search input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #260808;
}

.search button {
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 69, 0, 0.8);
    height: 40px;
    width: 60px;
    font-size: 14px;
    color: white;
    cursor: pointer;

}


.search img {
    height: 30px;
    border-radius: 20px;
    opacity: 0.8;
}

.weatheri {
    width: 150px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.weather h2 {
    font-size: 30px;
    align-items: center;
    margin-top: -5px;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
    border-radius: 25px;
}

.humidity,
.wind {
    font-size: 25px;
}


@media (max-width: 600px) {
    .card {
        width: 95%;
    }
    
    .search input {
        width: 70%;
        font-size: 16px;
    }
    
    .search button {
        width: 50px;
        font-size: 12px;
    }
    
    .weather h1,
    .weather h2 {
        font-size: 28px;
    }

    .details {
        flex-direction: column;
        text-align: center;
    }

    .col {
        justify-content: center;
        margin-bottom: 10px;
    }
}
